body {
    font-family: 'Happy Monkey', cursive;
    /* font-family: 'Orbitron', sans-serif;*/
    text-align:center;
    }

#picOfNick {
    /* border:1px solid black; */
    width:200px;
    border-radius: 50%;
    }