
body {
    color:white;
    background-color:#a2d2ff;
    font-family: 'Happy Monkey', cursive;
    /* font-family: 'Orbitron', sans-serif;*/
    /* text-align:center; took it out after adding flex */
        }

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}        

#bdayAge, #bdayDate {
    background-color: #EFB0C9;
    padding:10px;
    border-radius: 10px;
    margin-bottom: 0;

}

#picOfNick {
    border:5px solid #EFB0C9;
    width:200px;
    border-radius: 50%;
    }

header, #gifts {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.happy {
    margin-top:40px;
    margin-bottom:0;
}

.gift1 {
    border-radius: 10px;
    border: 6px solid white;
}

.giftHover {
    margin-top: 8px;
}
