body {
    margin:0;
    font-family:'Dancing Script', cursive;
    box-sizing: border-box;
    font-size: 20px;
    text-align:center;
}   

#hero {
    color:white;
    height:100vh;
    background-image:url(Images/niagara-falls-by-night-1-1920w.jpg);
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.city {
    margin-top: 0px;
    background-color: blueviolet;
    padding:3px 8px;
    border-radius: 6px;;
}
.invitation {
    margin-top:200px;
    width:500px;
    text-align: center;
    background-color: black;
    padding:6px 8px;
    border-radius: 6px;;
}

img {
    margin-top: 10px;
    width:200px;
    height:150px;
    border:1px solid white;
    border-radius: 50%;
}
.activities {
    color:white;
    background-color: blueviolet;
    border-radius: 6px;;
    width:500px;
    margin: 30px auto 0;
    padding: 6px 10px;
    text-align: center;
}

.hover {
    color:white;
    background-color: black;
    border-radius: 6px;
    width:170px;
    margin: 30px auto 30px;
    padding: 4px 8px;
    text-align: center;

}

#cards {
    width:1000px;
    margin:auto auto;
    display:flex;
    justify-content: space-around;
}

.card {
    background-color: lightpink;
    width:400px;
    padding: 0 25px;
    margin-right:50px;
    border-radius: 8px;
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maid:hover, .skylon:hover, .wheel:hover {
    width:500px;
    height:500px;   
}

.guide {
    color: white;
    margin:30px auto;
    padding:0 15px;
    width: 500px;
    border-radius: 8px;
    background-color: blueviolet;
    display:flex;
    align-items: center;
    border-bottom: 5px solid grey;;
}

.guide-img {
    margin:0 10px;
    width:150px;
}