body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #2b283a;
}

/* Layout */

.container {
  width: 620px;
  margin: 0 auto;
}

/* Typography */

h1, h3 {
  margin:0;
}

h1 {
  font-size: 36px;
  color:whitesmoke;
}

h2 {
  margin-top:0;
}


h3 {
  font-size: 20px;
  color:#d0aaff;
}

p {
  line-height: 23px;
}

/* Main Image */

.sneakers-img {
  width:100%;
} 


/* anchor tags */

.btn {
  padding: 10px 19px;
  border-radius: 4.6px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
  margin-right:10px;

}

.buy-btn {
  background-color: #5f29a3;
  color: whitesmoke
}

.moreInfo-btn {
  background-color: #f0e0ff;
  color:#5f29a3;
}

.about-btn, .contact-btn {
  background-color: whitesmoke;
  color:#5f29a3;
}

.btn:hover, .btn:active {
  color:#2b283a;
  background-color:#f3e885;
}

.crypto-section {
    color:whitesmoke;
}

.crypto-image {
  width:300px;
  border-radius: 4.6px;
}

.crypto-images { 
  display: flex;
  justify-content:space-between;
}

footer {
  font-size: 16px;
  color:#5f29a3;
  text-align: center;
  font-weight: bold;
  
}

header, section, footer {
  padding: 45px 0;
}

header, .crypto-section {
  background-color: #5f29a3;
}
button {
  padding:
}