body {
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    color:#282828;
}

/*
Challenge:
1. Get this layout looking like the 
   screenshots on the slide.
*/

header {
  background-color:#282828;
  color: whitesmoke;
}

ul {
  display: flex;
  align-items: center;
  padding:25px;
  list-style: none;
  margin: 0;
  gap: 10px;
}

li {
  cursor: pointer;
}

.logo {
  font-size:18px;
  font-weight:bold;
}

.icon {
  width: 25px;
}
/* used margin to push hamburger menu to far right of flex container */
/* see "using "margin auto" on flex items" */
.align-right {
   margin-left:auto;
}

h1 {
  font-size: 40px;
  font-weight:400;
  margin: 30px 25px;
}

.item-img {
  width:100%;
  display:block;
}

.caption {
  margin: 0px 25px;
  /*  */
  display: flex;
  justify-content: space-between;
  gap:20px; 
}

.item {
   position:relative;   
}



/* set parent container to position:relative and the element to be positioned Position:absolute */

.img-banner {
  position: absolute;
  top:0;
  left:0;
  background-color:#cd6858 ;
  color: whitesmoke;
  padding:10px;
}


button {
  background-color:#cd6858 ;
  color: whitesmoke;
  border:none;
  font-weight:700;
  padding: 10px 15px;
  cursor:pointer;
}